{
    "api_url": "[[ca_endpoint_api_url]]",
    "ca_name": "[[cert_auth_name]]",
    "ca_url": "[[ca_endpoint_api_url]]",
    "display_name": "[[cert_auth_name]]",
    "id": "[[cert_auth_name]]",
    "location": "",
    "msp": {
        "ca": {
            "name": "[[cert_auth_name]]"
        },
        "component": {
            "tls_cert": "[[ca_tls_cert]]"
        },
        "tlsca": {
            "name": "[[caTls_name]]"
        }
    },
    "name": "[[msp_name]]",
    "operations_url": "[[ca_endpoint_ops_url]]",
    "pem": "[[ca_cert]]",
    "scheme_version": "v1",
    "tls_cert": "[[ca_tls_cert]]",
    "tlsca_name": "[[caTls_name]]",
    "type": "fabric-ca"
}